{% load wagtailcore_tags   wagtailimages_tags %}
{% for item in self.faq %}
<div class="accordion-item">
<h2 class="card-header" id="heading{{forloop.counter}}">
<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
    {{item.title}}
</button>
</h2>
<div id="collapse{{forloop.counter}}" class="accordion-collapse collapse show" aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
<div class="accordion-body">
    <p>{{item.description|richtext}}</p>
</div>
</div>
</div>
{% endfor %}

