{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags   wagtailimages_tags  wagtailroutablepage_tags %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
{% main_menu template='menus/main_menu.html' %}
<div class="privacy_policy_banner">
    {% image page.cover_image original as img_cover %}
    <div class="pvc_banner"><img src="{{ img_cover.url }}" alt="terms"></div>
    <div class="pvc_overlay_data terms_condition_overlays">
        <h3>{{ page.title }}</h3>
    </div>
</div>

<div class="privacy_upper_informational_sec guideliness_sec_pvc">
    <h3>{{ page.sub_title }}</h3>
    {{ page.description|richtext }}
</div>

<div class="chajja_ke_rules">
    {% image page.image original as img %}
    <img class="rules_bg_img" src="{{ img.url }}" alt="chaajja image">
    <div class="chajja_rules_overlays">
            {% image page.icon original as icon %}

        <a target="_blank" href="javascript:void(0);"><img src="{{ icon.url }}" alt="chajja logo"></a>
        <h5>{{ page.icon_caption }}</h5>
    </div>
</div>

<div class="terms_liasting_data">
    {% for card in page.cards %}
        {% include_block card %}
    {% endfor %}
</div>

 <div class="chajja_contact_information_data">
    {{ page.footer_description|richtext }}
 </div>


{% endblock content %}
