{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags  wagtailroutablepage_tags  filter %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
{% main_menu template='menus/main_menu.html' %}
<div class=" bg-light py-4 page-header">
  <div class="container">

    <h1 style="margin-bottom:-20px">

      {{page.intro|safe}}
    </h1>
  </div>
</div>
<div class="container py-5">

  {% for category in categories %}
  {% if category.services.live.all %}
  <div class="py-4">

    <h3 class="strong">
      {{category.name}}
    </h3>

    <div class="owl-carousel owl-theme service-slider ">

      {% for service in category.services.live.all %}


      <div class=" helpline_centers cardhelp{{ category.id }}" id="helpline_centers{{ service.name }}"
           style="display: block">

        <a class="absolte_link" href="{% slugurl 'service-finder' %}{{service.slug}}"></a>
        <div class="center_header ">
          {% image service.main_image fill-800x600 as img %}
          <img src="{{img.url}}">

        </div>
        <div class="center_body px-4 py-3">
          <h4 class="my-0">{{service.name}}<a target="_blank" href="{% slugurl 'service.slug' %}"></a>
          </h4>
        </div>
      </div>

      {% endfor %}




    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


<div class="container py-5">
  <h2 class="text-center mb-3">Aapki Problem Choose Karein</h2>
  <div class="women_problems row ">
    {% for concern in services %}
    <div class=" col-lg-4 col-md-6 col-sm-12 px-2">


      <a class=" problem upper_links_data" href="{% routablepageurl page 'filter_services' %}?service={{concern.slug}}">
        <h4 class="service_finder_achor">{{concern.intro}}</h4>
      </a>


    </div>
    {% endfor %}
  </div>
</div>




<div class="container">
  <div class="convinced_data_banner py-4">

    <div class="convinced_data_dete">
      {{page.custom_text|richtext}}
      <a target="_blank" href="{% slugurl 'blog-page' %}">Related Blogs <img src="{% static 'images/right_arrow_icon.svg' %}"></a>
    </div>
  </div>
</div>


{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
  $('.service-slider').each(function () {
    var owl = $(this);
    var items = owl.find('.owl-item');

    owl.on('initialized.owl.carousel changed.owl.carousel', function (event) {
      // Reset the height of all items
      items.css('height', '');

      // Find the height of the tallest item
      var tallestHeight = 0;
      items.each(function () {
        var itemHeight = $(this).height();
        if (itemHeight > tallestHeight) {
          tallestHeight = itemHeight;
        }
      });

      // Set the height of all items to the tallest height
      items.css('height', tallestHeight + 'px');
    });

    owl.owlCarousel({
      loop: false,
      margin: 20,
      touchDrag:true, 
      mouseDrag:true,

      responsive: {
        0: {
          items: 1, 
          slideBy:1,
          rewind:false,
          stagePadding: 50,
          
        },
   
        960: {
          items: 2,
          items: 1, 
          slideBy:1,
          rewind:false,
          stagePadding: 100,
        },
        1200: {
          items: 3
        }
      },
      slideSpeed: 3000,
      autoplay: false,
      autoplaySpeed: 2000,
      nav: true, // Enable navigation
      navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'], // Customize navigation arrow icons
      dots: false // Hide the dots
    });

    owl.on('initialized.owl.carousel', function (event) {
      var itemLength = event.item.count;
      var navigation = owl.find('.owl-nav');

      if (itemLength <= 3) {
        navigation.hide();
      } else {
        navigation.show();
      }
    });
  });

</script>
<script type="text/javascript">
  function seemore(e) {
    console.log($(".cardhelp" + e.id + ":hidden").length)
    if ($(".cardhelp" + e.id + ":hidden")) {
      $(".cardhelp" + e.id + ":hidden").slice(0, 2).fadeIn("slow");
    }
    if ($(".cardhelp" + e.id + ":hidden").length == 0) {
      $("#" + e.id).fadeOut("slow");
    }
  }
</script>

{% endblock extra_js %}