{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags  %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
{% main_menu template='menus/main_menu.html' %}
    <section class="searched_tags">
      <div class="searched_info">
        <h3><a href="{{ page.get_parent.url }}"><img src="{% static 'images/back_btns.svg' %}" alt="back"></a>You searched for</h3>
        <div class="form-group-data">
          <select class="form-control">
            <option>Pregnancy ke Doubts</option>
            <option>Pregnancy ke Doubts 2</option>
            <option>Pregnancy ke Doubts 3</option>
          </select>
          <select class="form-control">
            <option>Location</option>
            <option>Delhi</option>
            <option>Mumbai</option>
            <option>Chandigarh</option>
          </select>
        </div>
        <div class="tags_listing_data">
          <div class="left_updated_tags">
            <a href="javascript:void(0);">Condoms <span>-</span></a>
            <a href="javascript:void(0);">Gynac Advice <span>-</span></a>
          </div>
          <div class="add_tgs">
            <a href="javascript:void(0);">Add Service Tag <span>+</span></a>
          </div>
        </div>

        <div class="librate_main_slider">
        {% for service in services %}
          <div class="librate_list_content">
            <div class="owl-carousel owl-theme librate_carousels">
              {% for item in service.specific.gallery_images.all %}
              <div class="item">
                <div class="liberate_img">
                  {% image item.image original as service_image %}
                  <img src="{{service_image.url}}" alt="service finder">
                  <a href="javascript:void(0);" class="call_data"><img src="{%static 'images/call_icon.svg' %}" alt="call"></a>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="librate_inner_carousels">
              <div class="librate_content_part">
                <div class="content_left_data">
                  <h4><a href="{% pageurl service %}">{{service.specific.name}}</a> | <a href="javascript:void(0);" class="helpline_links">Helpline</a></h4>
                  <p>{{service.specific.description|richtext}}</p>
                  <div class="gynac_direct_links">
                    <a href="javascript:void(0);">Gynaec advice</a>
                    <a href="javascript:void(0);">medicine</a>
                  </div>
                </div>
                <div class="right_time_call">
                  <p class="time_date">9am <span>- 12pm</span> <i>Free</i></p>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
        </div>
      </div>
    </section>

    <section class="related_articles">
      <div class="related_headings">
        <h3>Related Articles</h3>
        <a href="javascript:void(0);">Read All ></a>
      </div>
      <div class="main_related_content_portion">
        <div class="related_posts_data">
          <div class="related_images">
            <img src="images/related_articles_01.svg" alt="articles">
          </div>
          <div class="related_contents">
            <h3>Pregnancy kaise prevent kar sakte hai</h3>
            <a href="javascript:void(0);">Gynaec advice</a>
          </div>
        </div>
        <div class="related_posts_data">
          <div class="related_images">
            <img src="images/related_articles_01.svg" alt="articles">
          </div>
          <div class="related_contents">
            <h3>Pregnancy kaise prevent kar sakte hai</h3>
            <a href="javascript:void(0);">Gynaec advice</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
{% block extra_js %}
<script>
      $(document).ready(function() {
        $('.librate_carousels').owlCarousel({
          loop: true,
          margin: 0,
          autoplay: true,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: true
            },
            600: {
              items: 1,
              nav: false
            },
            1000: {
              items: 1,
              nav: true,
              loop: false,
              margin: 0
            }
          }
        })
      })
    </script>
{% endblock extra_js %}