{% extends "base.html" %}
<img class="img-fluid" src="{{service_image.url}}" alt="lybrate">
{% load static %}
{% load wagtailcore_tags wagtailimages_tags filter %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
{% main_menu template='menus/main_menu.html' %}
<section class="lybrate_banner_images">
  <a class="back_data_btn" href="{{ request.META.HTTP_REFERER }}"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" width="25" height="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 28 27" style="enable-background:new 0 0 28 27;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
	.st1{fill:none;stroke:#161616;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<g id="BackButton_1_" transform="translate(529 78) rotate(90)">
	<circle id="Ellipse_41" class="st0" cx="-64.1" cy="514.9" r="13"/>
	<path id="Path_146_3_" class="st1" d="M-69.4,512.8l5.8,6.9l5.8-6.9"/>
</g>
</svg>
</a>
  <div class="owl-carousel owl-theme librate_carousels">
    {% for service_image in page.specific.gallery_images.all %}
    <div class="item">
      <div class="lybrate_help_data">
          {% image service_image.image original as service_image %}
          <img src="{{service_image.url}}" alt="share">
        </div>
      </div>
      {% endfor %}
    </div>
</section>
<section class="lybrate_description_data">
  <div class="lybrate_share_info">
    <div class="lyb_content_area">
      <h1>{{page.name}}</h1>
      <p>{{page.description|richtext}}</p>
    </div>
<!--    <div class="lybrate_share_send">-->
<!--      <a target="_blank" href="javascript:void(0);">-->
<!--        <img src="{% static 'images/send_icon.svg' %}" alt="share">-->
<!--        <span>Share</span>-->
<!--      </a>-->
<!--    </div>-->
  </div>
  <div class="timing_price">
    <ul class="list-inline">
      <li>Timing <span>{{page.timing}}</span></li>
      <li>Pricing<span>{{page.price}}</span></li>
    </ul>
  </div>
  <div class="website_info">
      {% if page.external_link|integer == True %}
        <a target="_blank" href="tel:{{page.external_link}}" class="btn btn_web">Call Now</a>
      {% else %}
        <a target="_blank" href="{{page.external_link}}" class="btn btn_web">Visit Website</a>
      {% endif %}
      <a target="_blank" href=href="javascript:void(0);" data-toggle="modal" data-target="#addTagPopup" class="send_data_icon"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" width="25" height="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 42 41" style="enable-background:new 0 0 42 41;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#CC1962;}
	.st1{fill:#FF428A;}
	.st2{fill:#FFFFFF;}
</style>
<circle class="st0" cx="23.2" cy="21.8" r="18.5"/>
<circle class="st1" cx="20.4" cy="19.8" r="19.3"/>
<g id="dKy8LH_2_" transform="translate(-2871.333 -1536.664)">
	<g id="Group_147_2_">
		<path id="Path_167_2_" class="st2" d="M2896.7,1550.1c0,0-0.1,0.1-0.1,0.1c-3.2,2.8-6.4,5.5-9.6,8.3c0,0.1-0.1,0.1-0.2,0
			c-1.2-0.5-2.3-1-3.5-1.4c-0.3-0.1-0.5-0.4-0.4-0.7c0-0.1,0.1-0.3,0.3-0.3c4.1-2.4,8.3-4.8,12.4-7.1c1-0.6,1.9-1.1,2.9-1.7
			c0.1-0.1,0.3-0.1,0.5-0.1c0.3,0.1,0.5,0.4,0.4,0.7c-0.2,1.1-0.4,2.2-0.6,3.4c-0.2,1.4-0.5,2.9-0.7,4.3c-0.3,1.5-0.5,3.1-0.8,4.6
			c-0.1,0.6-0.2,1.2-0.3,1.8c0,0.3-0.3,0.6-0.6,0.5c-0.1,0-0.2,0-0.2-0.1c-1.3-0.5-2.7-1.1-4-1.6c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0
			c-0.7,0.9-1.4,1.7-2.1,2.6c-0.2,0.2-0.4,0.3-0.7,0.2c-0.2-0.1-0.4-0.3-0.4-0.6c0-1,0-2.1,0-3.1c0-0.1,0-0.1,0.1-0.2
			c2.6-3.1,5.1-6.3,7.7-9.4C2896.7,1550.2,2896.7,1550.2,2896.7,1550.1L2896.7,1550.1z"/>
	</g>
</g>
</svg>
</a>
  </div>
</section>
<section class="related_services_blog">
    <h2>Related Services <a class="see_all_btn" href="{% slugurl 'service-finder' %}">See All</a></h2>
    <div class="service_tab_inner_data blos_part_included">
        {% for service in services %}
        <div class="helpline_centers blog_helpline_center_data">
            <div class="center_header">
                {% image service.main_image original as img %}
              <img src="{{img.url}}" alt="articles">
              <div class="blog_call_data">
                <a target="_blank" href="{% if service.external_link|integer == True %}tel:{{service.external_link}}{% else %}{{service.external_link}}{% endif %}" target="_blank"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" width="25" height="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 28 29" style="enable-background:new 0 0 28 29;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#ff428a;}
	.st1{fill:#FFFFFF;}
</style>
<circle class="st0" cx="13.9" cy="14.7" r="14.1"/>
<g id="iGTu5F_19_">
	<g>
		<path class="st1" d="M12,13.7c0.8,2,2.2,3.4,4.2,4.2c0.1-0.2,0.1-0.4,0.2-0.5c0.1-0.3,0.1-0.3,0.5-0.3c1.2,0.2,2.4,0.4,3.7,0.6
			c0.2,0,0.2,0,0.3,0.3c0.2,1.1-0.6,2.3-1.9,2.6c-0.3,0.1-0.6,0-0.9,0c-1.2-0.1-2.4-0.3-3.5-0.9c-1.4-0.7-2.6-1.6-3.5-2.9
			c-0.9-1.2-1.4-2.4-1.6-3.8c-0.1-0.6-0.2-1.3-0.1-1.9c0.1-1,1-1.8,1.9-1.9c0.3,0,0.5,0,0.8,0c0.1,0,0.1,0,0.1,0.1
			c0.2,1.3,0.4,2.7,0.6,4c0,0.1,0,0.1-0.1,0.2C12.5,13.5,12.2,13.6,12,13.7z"/>
	</g>
</g>
</svg>
</a>
              </div>
            </div>
            <div class="center_body">
                <h4><a target="_blank" href="{% slugurl 'service-finder' %}{{service.slug}}">{{service.name}}</a></h4>
                {{service.caption}}
            </div>
        </div>
        {% empty %}
      
      <div class="alert  text-center text-white" role="alert" style="background-color:#ff428a;">
        No services are currently available for this tag
      </div>
        {% endfor %}
      </div>
    </div>
    <h2 class="mt-2">Related Blogs <a class="see_all_btn" href="{% slugurl 'blog-page' %}">See All</a></h2>
    <div class="main_related_content_portion helpline_blog_portions">
        {% for blog in articles %}
        <div class="related_posts_data">
            <div class="related_images">
                {% image blog.main_image original as img %}
                <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><img src="{{img.url}}" alt="articles"></a>
            </div>
            <div class="related_contents">
                <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><h3>{{blog.title}}</h3></a>
            </div>
        </div>
        {% empty %}
      <div class="alert  text-center text-white" role="alert" style="background-color:#ff428a;">
       No blogs are currently available for this tag
      </div>
        {% endfor %}
    </div>

</section>


<!--POP UP-->
<div class="modal fade sharing_modal" id="addTagPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share Kijiye</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="icon-container1 d-flex">
                    <div class="smd facebook_icons"> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.get_site.root_url }}{% pageurl page %}&quote={{page.specific.search_description}}" target="_blank">
                        <i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="smd whatsapp_icons"> <a target="_blank" href="https://wa.me/?text={{ page.get_site.root_url }}{% pageurl page %}" target="_blank">
                        <i class="fa fa-whatsapp fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block extra_js %}
<script>
  $(document).ready(function() {
    $('.librate_carousels').owlCarousel({
      loop: true,
      margin: 0,
      autoplay: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 1,
          nav: false
        },
        1000: {
          items: 1,
          nav: true,
          loop: false,
          margin: 0
        }
      }
    })
  })

</script>
{% endblock extra_js %}