@media (min-width: 1400px) {
  .searched_info .librate_main_slider {
    padding: 50px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .container {
    /* max-width: 1603px !important; */
    max-width: 1320px !important;
  }
}
/*Resolving some tweaks in very small screens*/

@media (min-width: 321px) and (max-width: 360px) {
  .links_footer_info li img {
    width: 25px;
  }
  .period_info.service_finder_period_data p {
    font-size: 21px;
  }
}

@media (max-width: 320px) {
  a.brand_logo img {
    width: 60px;
  }
  .navbar_collapse a.nav-link {
    padding: 8px 12px;
  }
  .period_info p {
    padding-left: 20px;
  }
  .period_info {
    padding: 20px;
  }
  .period_overlay_img img {
    width: 55px;
  }
  .women_problems .womenp_cols h3 {
    font-size: 15px;
  }
  .links_footer_info li img {
    width: 20px !important;
    margin-right: 6px;
  }
  .links_footer_info li a {
    font-size: 10px;
  }
  .center_header h4 {
    font-size: 14px;
  }
  .convinced_data_banner {
    background-size: 230px;
  }
  .convinced_data_banner a {
    margin-top: 30px;
  }
  .convinced_data_banner a img {
    width: 7px;
    margin-left: 10px;
    position: relative;
    top: -2px;
  }
  .right_time_call {
    width: 40%;
  }

  .hm_videos iframe {
    height: 75px;
  }
  .period_colmns_right_sec .women_problems .womenp_cols h3 {
    font-size: 13px;
  }
  .service_content_lft_sec {
    width: 30%;
  }
  .frst_chemp_left {
    left: 30px;
  }
  .secnd_chemp_right {
    right: 10px;
  }
  .thrd_chemp_left {
    left: 10px;
  }
  .frth_chemp_right {
    right: 0px;
  }
  .about_content_dt a.btn.btn_effects {
    padding: 11px 20px;
    width: 100%;
  }
  .inner_are_dekho_text h2 img {
    margin-left: 5px;
  }
  .platform_content {
    padding: 5px 10px 0px;
    align-items: center;
    justify-content: center;
  }
  .platform_content a {
    margin: 0px 6px;
  }
  .blog_bann_desp_info p {
    width: 50%;
  }
  .blog_btn_info {
    width: 50%;
  }
  .blog_bann_desp_info {
    margin-top: 30px;
  }
  .shape_content_info h3 {
    font-size: 15px;
    line-height: 17px;
  }
  .period_info.service_finder_period_data p {
    font-size: 18px;
  }
  .period_overlay_img.service_finder_images img {
    width: 37px;
  }
}
@media (min-width: 768px) {
  .searched_info .librate_main_slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
a.call_data{
  position: absolute;
    top: 14px;
    right: 100px;
    z-index: 99;
}
.librate_inner_carousels{
  height:320px;
}
  .service_helpline_data.helpline_centers .center_body h4 {
    font-size: 22px;
    margin: 0px;
    font-family: "fedra_sans_devanagari_bmedium";
  margin-bottom: 5px;
}
  a.brand_logo {
    padding-right: 55px;
  }
  .blog_call_data img {
    width: 40px !important;
    height: auto !important;
  }
  .left_updated_tags a {
    padding: 5px 15px;
    margin-right: 5px;
    font-size: 17px;
    text-decoration: none;
  }
  .helpline_centers {
    width: 31.333%;
    margin: 1%;
  }
  .main_related_content_portion {
    margin-top: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main_related_content_portion
    .related_posts_data
    .related_contents.blog_detail_related_blog
    h3 {
    margin-bottom: 15px;
  }
  .main_related_content_portion .related_posts_data .related_contents h3 {
    font-size: 26px;
    line-height: 28px;
    font-family: "fedra_sans_devanagari_bmedium";
    letter-spacing: 0;
    margin-bottom: 18px;
  }

  .main_related_content_portion .related_posts_data .related_contents a {
    transition: all 0.5s ease-in-out 0s;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_contents
    h3 {
    font-size: 26px;
    font-family: "fedra_sans_devanagari_bmedium";
    letter-spacing: 0;
    line-height: 28px;
  }
  .inner_are_dekho_text {
    padding: 32px 50px 30px 80px;
    transform: rotate(0deg);
    margin-left: -10px;
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
    margin-top: -25px;
  }

  .are_dekho_heading {
    top: 20px;
  }
  .inner_are_dekho_text h2 {
    font-size: 32px;
    line-height: 32px;
    transform: rotate(-5deg);
    display: flex;
    position: relative;
    top: -3px;
  }
  .inner_are_dekho_text h2 img {
    position: relative;
    top: 2px;
    margin-left: 30px;
    width: 35px;
    height: auto;
  }
  .home_slider_data {
    padding: 0px 10px 0px 150px;
  }
  .home_video_carousel .owl-nav button[class*="owl-"] {
    width: 40px;
    height: 40px;
  }
  .home_video_carousel .owl-nav button.owl-prev {
    left: -70px;
  }
  .home_video_carousel .owl-nav button.owl-prev::before,
  .home_video_carousel .owl-nav button.owl-next::after {
    font-size: 23px;
  }
  .home_video_carousel .owl-nav button.owl-next {
    right: 70px;
  }
  .video_content_data {
    padding: 20px;
    min-height: 165px;
  }
  .video_content_data h3 {
    font-size: 28px;
    margin: 0px 0px 8px;
  }
  .video_content_data p {
    font-size: 20px;
    line-height: 28px;
  }
  .platform_we_on {
    padding: 10px 150px 20px;
  }
  .platform_content {
    padding: 35px 0px 55px;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .platform_content a {
    position: relative;
  }
  .platform_content img {
    width: 160px;
    height: 160px;
  }
  button.social_buttons {
    background: #ff428a;
    border-radius: 40px;
    border: none;
    padding: 14px 50px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 0);
    color: #fff;
    outline: none;
    box-shadow: 4px 4px 0px 1px #d11863;
    font-size: 19px;
    line-height: 23px;
    font-family: "Fedra Sans Pro";
    letter-spacing: 0.3px;
    transition: all 0.5s ease-in-out 0s;
  }
  button.social_buttons {
    display: block;
  }
  .inner_service_content_data {
    padding: 10px 150px 90px;
    align-items: flex-start;
  }
  .service_content_lft_sec h4 {
    font-size: 36px;
    margin-top: 10px;
    line-height: 52px;
    margin-bottom: 40px;
    font-family: "Fedra Sans Pro";
    color: #ff428a;
  }
  .service_content_lft_sec a {
    width: 230px;
    padding: 10px 28px;
    border-radius: 40px;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none !important;
    box-shadow: 4px 4px 0px 1px #d11863;
  }
  .service_content_lft_sec a img {
    width: 15px;
  }
  .service_finder_content .are_dekho_heading {
    top: -20px;
  }
  .period_colmns_right_sec {
    width: 80%;
    padding-left: 60px;
  }
  .period_colmns_right_sec .women_problems {
    float: right;
    padding-left: 50px;
  }
  .women_problems .womenp_cols {
    flex: 0 0 23%;
    margin: 1%;
    padding: 25px 25px 25px;
    min-height: 240px !important;
  }
  .period_colmns_right_sec .women_problems .womenp_cols h3 {
    color: #ff428a;
    font-size: 24px;
    line-height: 28px;
    width: 80%;
  }
  .period_overlay_img {
    right: 20px;
    bottom: 20px !important;
  }
  .articles_data_sec {
    height: 530px;
  }
  .inner_main_article_data {
    padding: 0px 150px;
    height: calc(100% - 70px);
  }
  .frst_chemp_left {
    left: 160px;
    top: 140px;
  }
  .article_chemp_line {
    max-width: 260px;
  }
  .article_chemp_line h5 {
    font-size: 34px;
  }
  .secnd_chemp_right {
    right: 160px;
    top: 140px;
  }
  .thrd_chemp_left {
    top: 350px;
    left: 160px;
    transform: rotate(7deg);
  }
  .frth_chemp_right {
    top: 350px;
    right: 160px;
    transform: rotate(-5deg);
    text-align: center;
  }
  .button_data_text {
    bottom: 50px;
  }
  .button_data_text a.btn.btn_articles {
    border-radius: 40px;
    font-size: 20px;
    padding: 15px 34px;
  }
  .button_data_text a.btn.btn_articles img.home-related-icon {
    margin-left: 20px;
    width: 13px;
    position: relative;
    top: -3px;
  }
  .articles_data_sec:after {
    background-size: contain;
    height: 100%;
    width: 1140px;
    left: 50%;
    background-position: center;
    bottom: 0;
    z-index: 1;
    margin-left: -570px;
  }
  .about_us_sec {
    margin-top: 30px;
    display: inline-block;
  }
  .about_us_sec .are_dekho_heading {
    top: -10px;
  }
  .about_us_data_content {
    align-items: center;
  }
  .about_img {
    width: 40%;
    padding-left: 150px;
  }
  .about_img img {
    height: 100%;
    width: 60%;
  }
  .about_content_dt {
    padding: 50px 100px;
    width: 60%;
  }
  h3.prichay_heading {
    font-family: "fedra_sans_devanagari_bdemi";
    font-size: 36px;
    color: #ff428a;
    margin-bottom: 24px;
    display: block;
  }
  .about_content_dt p {
    font-size: 20px;
  }
  .about_content_dt a.btn.btn_effects {
    padding: 15px 34px;
    font-size: 20px;
    margin-top: 20px;
  }
  .about_content_dt .btn_effects .home-related-icon {
    margin-left: 20px;
    width: 13px;
    position: relative;
    top: -3px;
  }
  .top_footer {
    padding: 50px 150px;
  }
  .links_footer_info {
    margin-bottom: 25px;
  }
  .bottom_footer {
    padding: 15px 150px;
  }
  .bottom_footer img {
    max-width: 55px;
  }
  .period_info.service_finder_period_data {
    padding: 20px;
    box-shadow: 0px 0px 15px 13px rgba(0, 0, 0, 0.05);
  }
  .period_info.service_finder_period_data p {
    font-size: 34px;
    font-family: "fedra_sans_devanagari_bdemi" !important;
  }
  .women_problems {
    padding: 50px 150px 10px;
  }
  .women_problems .womenp_cols h3 {
    font-size: 28px;
  }
  .peiord_anchors.service_finder_tags {
    width: 62%;
  }
  .peiord_anchors.service_finder_tags a.expert_link {
    padding: 7px 14px 3px;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px 2px 0px 0px;
  }
  .period_overlay_img.service_finder_images {
    right: 20px;
    width: 25%;
  }
  .convinced_data_banner {
    background: transparent;
    padding: 0px 170px;
    margin: 25px 0px 40px;
    border-radius: 12px;
  }
  .convinced_data_dete {
    background: #f4e2a6 url(../images/not_convinced_image.svg);
    padding: 35px;
    margin: 25px 0px 0px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 820px;
    border-radius: 12px;
    min-height: 500px;
    position: relative;
  }
  .convinced_data_dete h4 {
    color: #8226fa;
    font-size: 42px;
    font-family: "fedra_sans_devanagari_bmedium";
    max-width: 50%;
  }
  .convinced_data_banner a {
    padding: 19px 40px 17px;
    font-size: 17px;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
  }
  .convinced_data_banner a img {
    width: 14px;
    margin-left: 40px;
    position: relative;
    top: -2px;
  }
  .services_list {
    background: #ededed;
    padding: 30px 170px 50px;
  }
  .services_list h3 {
    font-size: 24px;
    padding: 10px 15px 20px;
  }
  .services_list .accordion .card .card-header a.btn.btn-header-link {
    padding: 16px 25px;
    font-size: 22px;
  }
  .service_tab_inner_data {
    padding: 0px 10px;
  }

  .helpline_centers .center_header img {
    max-width: 100%;
    width: 100%;
    max-height: 270px;
    height: 270px;
  }
  .service_helpline_data.service_data_sec_cols
    .center_header
    .service_call_icn
    img {
    max-width: 40px;
  }
  .service_helpline_data.helpline_centers .center_body {
    padding: 16px 20px;
  }
  .service_helpline_data.helpline_centers .center_header .service_call_icn img {
    width: 40px;
    top: 12px;
    right: 12px;
    height: auto;
  }
  .see_more_data {
    padding: 0px 25px 12px;
  }
  .see_more_data a {
    font-size: 20px;
  }
  .d-md-none {
    display: none !important;
  }
  .blog_post_image {
    max-height: 500px;
    height: 500px;
    background: #7c2ee6;
  }
  .blog_post_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .post_overlay_data {
    width: 100%;
  }
  .blog_bann_desp_info {
    padding: 0px 150px;
    margin-top: 0px;
    justify-content: space-between;
  }
  .blog_btn_info {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 40px;
  }
  .blog_bann_desp_info a.btn.btn_click_here {
    padding: 15px 35px;
    transition: all 0.5s ease-in-out 0s;
    color: #fff;
    font-family: "Fedra Sans Pro";
    font-weight: 900;
    font-size: 18px;
  }
  .blog_btn_info .btn_click_here .home-related-icon {
    margin-left: 20px;
  }
  .main_blog_articles_data {
    padding: 0;
  }
  .main_blog_articles_data .tags_listing_data {
    padding: 20px 150px;
    box-shadow: 0px 0px 15px 13px rgba(0, 0, 0, 0.05);
    margin: 0px 0px 50px;
  }

  .main_related_content_portion.helpline_blog_portions {
    margin-top: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* .main_related_content_portion.helpline_blog_portions.blog_articles
    .related_posts_data,
  .main_related_content_portion.helpline_blog_portions.blog_articles
    .related_posts_data:nth-child(3n) {
    width: 49%;
    margin: 17px 14px 0px 0px;
  } */
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_images {
    max-height: 270px;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_images
    img {
    height: 270px;
    object-fit: cover;
  }
  .home-related-icon {
    width: 10px;
    position: relative;
    top: -2px;
  }
  /* .main_related_content_portion.helpline_blog_portions.blog_articles {
    margin-top: 0px;
    flex-wrap: wrap;
    padding: 0px 150px 60px;
  } */

  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_contents {
    padding: 20px 25px;
  }
  .main_related_content_portion .related_posts_data .related_contents a {
    transition: all 0.5s ease-in-out 0s;
  }

  .peiord_anchors_blogs a {
    margin-right: 7px;
    margin-bottom: 7px;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
  }
  .main_related_content_portion.helpline_blog_portions {
    margin-top: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main_related_content_portion.helpline_blog_portions .related_posts_data {
    width: 30%;
    margin: 30px 2% 0px 0px;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_images
    img {
    height: 270px;
    object-fit: cover;
  }
  .more_article_data a {
    font-size: 22px;
  }
  section.searched_tags {
    padding: 0px;
  }
  .search_upper_filter_sec {
    background: #fff;
    padding: 40px 150px;
    box-shadow: 0px 0px 15px 13px rgba(0, 0, 0, 0.05);
  }
  .searched_info h3 {
    font-size: 29px;
    margin-bottom: 20px;
    position: relative;
  }
  a.search_back_btn {
    background: #e8e8e8;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -60px;
  }
  .form-group-data {
    padding: 0;
    display: flex;
  }
  .form-group-data .dropdown.bootstrap-select {
    width: 50% !important;
    margin-right: 1%;
    position: relative !important;
  }
  .form-group-data .bootstrap-select > .dropdown-toggle {
    border-radius: 20px;
    height: 50px;
    padding: 0.375rem 1.2rem;
  }
  .form-group-data .dropdown.bootstrap-select:nth-child(2) {
    margin-right: 0px;
  }

  .form-group-data .filter-option-inner-inner {
    line-height: 38px;
    font-size: 18px;
  }
  .tags_listing_data {
    padding: 0;
    margin: 10px 0px;
  }
  .add_tgs a {
    font-size: 17px;
  }
  .add_tgs a span {
    font-size: 18px;
  }
  .searched_info .librate_main_slider .librate_list_content {
    width: 400px;
    padding: 0px 10px;
    margin: 20px auto;
  }
  .librate_carousels .liberate_img {
    max-height: 370px;
    height: 370px;
  }
  .librate_carousels .liberate_img img {
    height: 100%;
    object-fit: cover;
  }
  .librate_content_part {
    padding: 25px;
  }
  section.related_articles {
    background: #f2f2f2;
    padding: 50px 150px;
  }
  .related_headings h3 {
    font-size: 24px;
  }
  .related_headings a {
    font-size: 18px;
    font-family: "Fedra Sans Pro Book";
  }
  .content_left_data h4 a {
    text-decoration: none;
  }
  .content_left_data a.helpline_links {
    font-size: 21px;
    position: relative;
    top: -2px;
  }
  .gynac_direct_links {
    margin-top: 22px;
  }
  .gynac_direct_links a {
    transition: all 0.5s ease-in-out 0s;
  }
  .gynac_direct_links a {
    font-size: 16px;
    padding: 4px 17px;
    text-decoration: none;
  }
  section.lybrate_banner_images a.back_data_btn {
    padding: 0px 150px;
    top: 30px;
  }
  a.back_data_btn img {
    width: 40px;
  }
  .lybrate_help_data img {
    max-height: 500px;
    object-fit: cover;
  }
  section.lybrate_banner_images .librate_carousels .owl-dots {
    top: 90%;
  }

  section.lybrate_description_data {
    padding: 40px 150px 50px;
  }
  .lyb_content_area h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .lyb_content_area p {
    font-size: 20px;
  }
  .timing_price {
    margin: 10px 0px 25px;
  }
  .timing_price ul li {
    width: auto;
    margin-right: 8%;
    font-size: 18px;
  }
  .timing_price ul li span {
    margin-top: 0px;
  }
  .website_info a.btn.btn_web {
    padding: 10px 40px;
    font-size: 20px;
    margin-right: 20px;
  }
  .send_data_icon img {
    width: 54px;
  }
  section.related_services_blog {
    padding: 50px 150px;
  }
  .related_services_blog h2 {
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  a.see_all_btn {
    font-size: 18px;
  }
  .service_tab_inner_data.blos_part_included {
    padding: 0px 0px 40px;
  }
  .helpline_centers.blog_helpline_center_data {
    overflow: hidden;
    width: 32%;
    margin: 30px 2% 0px 0px;
  }
  .helpline_centers.blog_helpline_center_data .center_header img {
    max-width: 100%;
    max-height: 270px;
    object-fit: cover;
    height: 270px;
  }
  .blog_call_data {
    top: 15px;
    right: 15px;
  }
  .helpline_centers.blog_helpline_center_data .center_header img {
    max-width: 100%;
    max-height: 270px;
    object-fit: cover;
    height: 270px;
  }
  .helpline_centers.blog_helpline_center_data .center_body {
    padding: 20px 25px;
  }
  .helpline_centers.blog_helpline_center_data .center_body h4 {
    font-size: 26px;
  }
  .helpline_centers.blog_helpline_center_data .center_body h4 a {
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
  }
  .lybrate_share_send_data a {
    display: flex;
    align-items: center;
  }
  .lybrate_share_send_data img {
    width: 45px;
  }
  .lybrate_share_send_data a span {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .blog_detail_contet_parts p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .peshkash_text h2 {
    top: -2px;
  }
  .home_slider_data {
    padding: 0px 10px 0px 80px;
  }
  nav.chazza_navbar {
    padding: 10px 80px;
  }
  .video_content_data {
    min-height: 200px;
  }
  .platform_we_on {
    padding: 10px 80px 20px;
  }
  .platform_content {
    max-width: 960px;
  }
  .inner_service_content_data {
    padding: 10px 80px 50px;
  }
  .period_colmns_right_sec .period_overlay_img img {
    width: 100px;
  }
  .inner_main_article_data {
    padding: 0px 100px;
  }
  .frst_chemp_left {
    left: 120px;
  }
  .secnd_chemp_right {
    right: 120px;
  }
  .thrd_chemp_left {
    left: 120px;
  }
  .frth_chemp_right {
    right: 100px;
  }
  .top_footer {
    padding: 50px 80px;
  }
  .bottom_footer {
    padding: 15px 80px;
  }
  .home_video_carousel .owl-nav button.owl-next {
    right: 30px;
  }
  .women_problems {
    padding: 50px 80px 10px;
  }
  .convinced_data_banner {
    padding: 0px 95px;
  }
  .services_list {
    padding: 30px 95px 50px;
  }
  .period_overlay_img.service_finder_images img {
    width: 80px;
  }
  .period_colmns_right_sec .women_problems .womenp_cols h3 {
    width: 80%;
    font-size: 28px;
    line-height: 30px;
  }
  section.lybrate_banner_images a.back_data_btn {
    padding: 0px 80px;
  }
  section.lybrate_description_data {
    padding: 40px 80px 50px;
  }
  section.related_services_blog {
    padding: 50px 80px;
  }
  .search_upper_filter_sec {
    padding: 40px 80px;
  }
  .searched_info .librate_main_slider {
    padding: 50px 70px;
  }
  .librate_carousels .liberate_img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  section.related_articles {
    padding: 50px 80px;
  }

  .shape_content_info {
    margin-top: 80px;
  }
  .main_related_content_portion.helpline_blog_portions.blog_articles {
    padding: 0px 80px 60px;
  }
  .main_blog_articles_data .tags_listing_data {
    padding: 20px 80px;
  }
  .blog_detail_slider_data a.back_data_btn {
    padding: 20px 80px;
  }
  .hero-sec {
    height: 65vh;
  }
  .hero-sec .banner-content .ban-button {
    position: absolute;
    right: 5%;
    top: 400px;
  }
  .f-sec .bbg-heading {
    position: absolute;
    top: -110px;
    left: 0px;
  }
  .f-sec .h-text h6,
  .heading,
  jkk-heading-h2,
  .rules .single-rule h6 {
    font-size: 1.7rem;
  }
  .f-sec .item {
    min-height: 180px;
    height: 180px;
  }
  .f-sec {
    padding: 60px 0;
  }
  .feature {
    margin-bottom: 60px;
  }
  .feature a {
    font-size: 2rem;
  }
  .jkk-banner .single-feature h6 {
    padding: 0px 10%;
    font-size: 1.7rem;
  }
  .peshkash_heading {
    position: relative;
    z-index: 9;
    top: -80px;
  }
  .bol-behan-testimonials .tst-bck {
    margin-left: 280px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home_slider_data {
    padding: 0px 10px 0px 60px;
  }
  .platform_we_on {
    padding: 10px 60px 20px;
  }
  .platform_we_on {
    padding: 10px 60px 20px;
  }
  .platform_content img {
    width: 212px;
    height: 212px;
  }
  .platform_content {
    max-width: 760px;
  }
  .inner_service_content_data {
    padding: 10px 60px 50px;
  }
  .period_colmns_right_sec .period_overlay_img img {
    width: 110px;
  }
  .period_colmns_right_sec .women_problems .womenp_cols h3 {
    font-size: 25px;
    line-height: 28px;
    width: 80%;
  }
  .inner_main_article_data {
    padding: 0px 60px;
  }
  .frst_chemp_left {
    left: 50px;
  }
  .thrd_chemp_left {
    left: 50px;
  }
  .frth_chemp_right {
    right: 50px;
  }
  .secnd_chemp_right {
    right: 50px;
  }
  .article_chemp_line h5 {
    font-size: 28px;
  }
  .article_chemp_line {
    max-width: 210px;
  }
  .top_footer {
    padding: 50px 50px;
  }
  .bottom_footer {
    padding: 15px 50px;
  }
  .video_content_data p {
    font-size: 18px;
    line-height: 26px;
  }
  nav.chazza_navbar {
    padding: 10px 50px;
  }
  .header_search_data .form-group input.form-control {
    width: 220px;
  }
  .are_dekho_sec {
    padding: 35px 0px 20px;
  }
  .service_content_lft_sec h4 {
    font-size: 36px;
    line-height: 48px;
  }
  .women_problems {
    padding: 50px 60px 10px;
  }
  .peiord_anchors.service_finder_tags {
    width: 50%;
  }
  .period_overlay_img.service_finder_images {
    width: 30%;
  }
  .period_overlay_img.service_finder_images img {
    width: 80px;
  }
  .peiord_anchors.service_finder_tags a.expert_link {
    font-size: 15px;
  }
  .convinced_data_banner {
    padding: 0px 70px;
  }
  .services_list {
    padding: 30px 70px 50px;
  }
  .women_problems .womenp_cols h3 {
    font-size: 25px;
  }
  section.lybrate_banner_images a.back_data_btn {
    padding: 0px 60px;
  }
  section.lybrate_description_data {
    padding: 40px 60px 50px;
  }
  section.related_services_blog {
    padding: 50px 60px;
  }
  .helpline_centers.blog_helpline_center_data .center_header img {
    max-height: 200px;
    height: 200px;
  }
  .helpline_centers.blog_helpline_center_data .center_body h4 {
    font-size: 21px;
  }
  .center_body p {
    font-size: 18px;
  }
  .helpline_centers.blog_helpline_center_data {
    margin: 20px 2% 0px 0px;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_images
    img {
    height: 200px;
    object-fit: cover;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_contents
    h3 {
    font-size: 21px;
  }
  .search_upper_filter_sec {
    padding: 40px 60px;
  }
  a.search_back_btn {
    left: -50px;
  }
  .searched_info .librate_main_slider {
    padding: 50px 60px;
  }
  section.related_articles {
    padding: 50px 60px;
  }
  .librate_carousels .liberate_img {
    max-height: 200px;
    height: 200px;
  }
  .content_left_data a.helpline_links {
    font-size: 19px;
  }
  .main_related_content_portion.helpline_blog_portions.blog_articles {
    padding: 0px 60px 60px;
  }
  .main_blog_articles_data .tags_listing_data {
    padding: 20px 60px;
  }
  .blog_detail_slider_data a.back_data_btn {
    padding: 20px 60px;
  }

  .hero-sec {
    height: 60vh;
  }
  .hero-sec .banner-content .ban-button {
    position: absolute;
    right: 3%;
    top: 280px;
  }
  .f-sec .bbg-heading {
    top: -135px;
  }
  .f-sec .h-text h6,
  .f-sec .item h6,
  .heading,
  jkk-heading-h2,
  .rules .single-rule h6,
  .f-sec.new-plan .h-text h6,
  .footer-sec h6 {
    font-size: 1.3rem;
  }
  .feature a {
    font-size: 1.7rem;
  }
  .jkk-banner .single-feature h6 {
    font-size: 1.3rem;
    padding: 0 11%;
  }
  .f-sec .item {
    min-height: 150px;
    height: 150px;
    padding: 10px;
  }
  .bbkh-text h6 {
    font-size: 28px;
  }
  .bbkh-img img {
    width: 100%;
  }
  .bbkh-cmnt {
    bottom: 10%;
  }
  .bol-behan-testimonials .tst-bck {
    margin-left: 125px;
  }
  .gray-tab p {
    font-size: 24px;
  }
  .testi p {
    font-size: 26px;
  }
  .sky-tab {
    padding: 30px 30px;
  }
  .sky-tab .heading {
    font-size: 35px;
  }
}

@media (min-width: 999px) and (max-width: 1100px) {
  .hero-sec {
    height: 70vh;
  }
  .whats-app {
    right: 10%;
  }
  .bbkh-text h6 {
    line-height: 35px;
    font-size: 24px;
  }
  .gray-tab .heading,
  .sky-tab .heading {
    font-size: 29px !important;
  }
}
@media screen and (max-width: 1024px) {
  .hero-sec {
    height: 35vh;
  }
  .bbkh-cmnt {
    right: -1.3% !important;
    bottom: 13%;
  }
  .margin-right-custom {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero-sec .banner-content .ban-button {
    top: 185px;
    right: 4%;
  }
  .hero-sec {
    height: 35vh;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .shape_content_info {
    padding: 80px 30px 80px 40px !important;
    max-width: 280px !important;
    margin-bottom: 20px;
  }
  .bbkh-cmnt {
    right: 6.7%;
  }
  .bbkh-img img {
    width: 100%;
  }
  .bbkh-text h6 {
    font-size: 28px;
  }
  .gray-tab .heading {
    font-size: 37px;
  }
  .gray-tab p {
    font-size: 21px;
  }
  .sky-tab {
    padding: 30px 30px;
  }
  .sky-tab .heading {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  nav.chazza_navbar {
    padding: 10px 20px !important;
  }
  div#faq .card-header a.btn.btn-header-link {
    font-size: 16px;
  }
  nav.chazza_navbar {
    justify-content: space-between;
  }
  .blog_detail_contet_parts h1 {
    font-size: 26px;
  }
  .blog_detail_contet_parts h2,
  .blog_detail_contet_parts h3 {
    margin-top: 20px;
    font-size: 20px;
  }
  .blog_detail_contet_parts h3 {
    font-size: 17px;
  }
  .search-form-blog input.form-control {
    padding: 20px;
  }
  .search-form-blog input[type="submit"] {
    right: 5px;
    padding: 5px 20px;
    font-size: 16px;
  }
  .related_contents .more_article_data {
    margin-top: 6px;
    font-size: 12px;
  }
  .blog_btn_info {
    width: auto;
  }
  .blog_bann_desp_info a.btn.btn_click_here {
    padding: 10px 12px;
  }
  .blog_bann_desp_info {
    padding: 15px;
    margin: 0;
    height: 100%;
  }
  .richtext-image {
    width: 100%;
    height: 100%;
  }
  .blog_share_info .lybrate_share_send_data {
    width: auto;
    margin-top: -10px;
    right: 20px;
  }
  .lybrate_share_send_data a span {
    margin-top: 0;
    margin-left: 5px;
  }
  .lybrate_share_send_data img {
    width: 30px;
  }
  .blog_share_info .lybrate_share_send_data a {
    display: flex;
    align-items: center;
  }
  .blog_detail_contet_parts {
    margin-top: 30px;
  }
  .blog_bann_desp_info a.btn.btn_click_here {
    padding: 6px 7px;
  }
  .whats-app {
    right: 9px;
  }
  .bol-behan-testimonials .tst-bck {
    margin-left: 0;
  }
  .text-end {
    text-align: center !important;
  }
  .bob-img.text-end img,
  .hands-illu {
    margin: 0;
  }
  .testi .owl-dots {
    bottom: -50%;
  }
  .sky-blue-sec {
    margin: 60px 0;
  }
  .margin-right-custom {
    margin-left: -80px;
  }
  .sky-tab {
    padding: 30px 30px;
  }
  .sky-tab .heading {
    font-size: 29px !important;
  }
  .l-chat,
  .last-sec {
    margin-top: 80px;
  }
  .girl-illu {
    margin: auto !important;
  }
  .girl-illu img {
    margin: auto;
    display: block;
  }
  .blue-txt {
    font-size: 29px;
  }
  .bbkh-cmnt {
    display: none !important;
  }
  .bbkh-text {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  nav.chazza_navbar {
    padding: 10px 20px;
  }
  .peshkash_text h2 {
    font-size: 1.2rem;
    transform: rotate(-14deg);
  }
  .jkk_heading .peshkash_text h2 {
    transform: rotate(-10deg);
  }
  .header_search_data .form-group input.form-control {
    width: 200px;
  }
  .home_slider_data {
    padding: 0px 10px 0px 20px;
  }
  .platform_we_on {
    padding: 10px 20px 20px;
  }
  .platform_content img {
    width: 200px;
    height: 200px;
  }
  .inner_service_content_data {
    padding: 10px 20px 50px;
  }
  .service_content_lft_sec h4 {
    font-size: 26px;
    line-height: 40px;
  }
  .period_colmns_right_sec .women_problems .womenp_cols h3 {
    font-size: 23px;
    line-height: 28px;
    width: 100%;
  }
  .period_colmns_right_sec .period_overlay_img img {
    width: 100px;
  }
  .women_problems .womenp_cols {
    min-height: 210px !important;
  }
  .article_chemp_line h5 {
    font-size: 24px;
  }
  .article_chemp_line {
    max-width: 160px;
  }
  .frst_chemp_left {
    left: 40px;
  }
  .secnd_chemp_right {
    right: 40px;
  }
  .thrd_chemp_left {
    left: 40px;
  }
  .frth_chemp_right {
    right: 40px;
  }
  .about_content_dt {
    padding: 50px 30px;
  }
  .top_footer {
    padding: 50px 20px;
  }
  .bottom_footer {
    padding: 15px 20px;
  }
  a.brand_logo {
    padding-right: 40px;
  }
  .navbar_collapse a.nav-link {
    font-size: 18px;
    padding: 18px 20px;
  }
  .video_content_data h3 {
    font-size: 24px;
  }
  .women_problems {
    padding: 40px 15px 10px;
  }
  .women_problems .womenp_cols h3 {
    font-size: 22px;
  }
  .peiord_anchors.service_finder_tags a.expert_link {
    padding: 3px 10px 2px;
    font-size: 13px;
    margin: 3px 2px 0px 0px;
  }
  .women_problems .womenp_cols {
    padding: 20px;
  }
  .about_img {
    padding-left: 0;
  }
  .about_img img {
    width: 100%;
  }
  .women_problems .womenp_cols {
    flex: 0 0 48%;
  }
  .service_content_lft_sec {
    width: 25%;
  }
  .period_colmns_right_sec {
    width: 75%;
    padding-left: 60px;
  }
  .period_overlay_img.service_finder_images img {
    width: 70px;
  }
  .peiord_anchors.service_finder_tags {
    width: 50%;
  }
  .period_overlay_img.service_finder_images {
    width: 30%;
  }
  .convinced_data_banner {
    padding: 0px 20px;
  }
  .convinced_data_dete h4 {
    font-size: 36px;
  }
  .services_list {
    padding: 30px 20px 30px;
  }
  .service_helpline_data.helpline_centers .center_body h4 {
    font-size: 20px;
  }
  .services_list .accordion .card .card-header a.btn.btn-header-link {
    font-size: 20px;
  }
  .service_tab_inner_data {
    padding: 0px 15px 15px;
  }
  section.lybrate_banner_images a.back_data_btn {
    padding: 0px 20px;
  }
  section.lybrate_description_data {
    padding: 40px 20px 50px;
  }
  section.related_services_blog {
    padding: 50px 20px;
  }
  .helpline_centers.blog_helpline_center_data .center_header img {
    max-height: 200px;
    height: 200px;
  }
  .helpline_centers.blog_helpline_center_data .center_body h4 {
    font-size: 20px;
  }
  .center_body p {
    font-size: 16px;
  }
  .helpline_centers.blog_helpline_center_data {
    margin: 20px 2% 0px 0px;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_images
    img {
    height: 200px;
    object-fit: cover;
  }
  .main_related_content_portion.helpline_blog_portions
    .related_posts_data
    .related_contents
    h3 {
    font-size: 21px;
  }
  .search_upper_filter_sec {
    padding: 30px 20px 30px 80px;
  }
  .searched_info .librate_main_slider {
    padding: 40px 20px;
  }
  section.related_articles {
    padding: 40px 20px;
  }
  .main_related_content_portion .related_posts_data .related_contents h3 {
    font-size: 21px;
    line-height: 23px;
  }
  .main_related_content_portion .related_posts_data .related_images img {
    height: 200px;
  }
  .content_left_data p {
    font-size: 16px;
    line-height: 20px;
  }
  .gynac_direct_links a {
    font-size: 14px;
    padding: 4px 14px;
  }
  .content_left_data h4 {
    font-size: 22px;
  }
  .related_contents a.service_related_tags {
    padding: 4px 12px;
    font-size: 14px;
  }
  .content_left_data a.helpline_links {
    font-size: 14px;
  }
  .left_updated_tags a {
    font-size: 14px;
  }
  .add_tgs a {
    font-size: 15px;
  }
  .librate_carousels .liberate_img {
    max-height: 170px;
    height: 170px;
  }
  .main_related_content_portion.helpline_blog_portions.blog_articles {
    padding: 0px 20px 30px;
  }
  .main_blog_articles_data .tags_listing_data {
    padding: 20px 20px;
    margin: 0px 0px 10px;
  }
  .shape_content_info {
    padding: 100px 30px 100px 40px;
  }
  .shape_content_info h3 {
    font-size: 26px;
    line-height: 34px;
    transform: rotate(-16deg) !important;
    top: -7px;
  }
  .blog_bann_desp_info {
    padding: 0px 30px;
  }
  .blog_detail_slider_data a.back_data_btn {
    padding: 20px 20px;
  }
  .blog_share_info h4 {
    font-size: 30px;
  }
  .blog_detail_contet_parts p {
    font-size: 18px;
  }
  .blog_detail_contet_parts li {
    font-size: 18px;
  }
  .blog_detail_contet_parts h1 {
    font-size: 30px;
  }
  .blog_detail_contet_parts h2,
  .blog_detail_contet_parts h3 {
    margin-top: 25px;
    font-size: 22px;
  }
  .blog_detail_contet_parts h3 {
    font-size: 18px;
  }
  .blog_share_info .lybrate_share_send_data {
    margin-top: -22px;
    width: auto;
    right: 8px;
  }
  .hero-sec {
    height: 60vh;
  }
  .hero-sec .banner-content .ban-button {
    top: 250px;
    right: 4%;
  }
  .f-sec .bbg-heading {
    top: -150px;
  }
  .f-sec .h-text h6,
  .heading,
  .feature a,
  .f-sec .item h6,
  .f-sec.new-plan .h-text h6,
  .testimonials h2 {
    font-size: 1.2rem;
  }
  .f-sec .item {
    min-height: 150px;
    height: 150px;
    padding: 20px;
  }
  .f-sec {
    padding: 70px 0;
  }
  .feature {
    margin-bottom: 40px;
  }
  .padding_vertical {
    padding: 0 4%;
  }
  .testimonials .single-testimonial {
    padding: 60px 125px;
  }
  jkk-heading-h2 {
    font-size: 1.3rem;
    padding: 0 30%;
  }
  .jkk-banner .single-feature h6 {
    font-size: 1.3rem;
    padding: 0;
  }
  .rules .single-rule h6 {
    font-size: 1.3rem !important;
  }
  .footer-sec h6 {
    padding: 15% 7% 0% 0%;
    font-size: 1.5rem;
  }
  .footer-sec h2 {
    padding: 0;
    font-size: 2rem;
  }
  .footer-sec {
    min-height: 450px;
  }
  .whats-app {
    right: 1%;
  }
  .bol-behan-testimonials .tst-bck {
    margin-left: 0;
  }
  .bbkh-text .heading,
  .gray-tab .heading,
  .sky-tab .heading {
    font-size: 26px !important;
  }
  .bbkh-text h6 {
    font-size: 22px !important;
  }
  .bbkh-cmnt {
    right: -2.3% !important;
    bottom: 5%;
  }
  .bob-img.text-end img {
    width: 100%;
  }
  .testi p {
    padding: 0;
  }
  .testi .owl-carousel .owl-item img {
    width: 50% !important;
    margin: auto;
  }
  .sky-blue-sec,
  .l-chat {
    margin: 100px 0;
  }
  .hands-illu.text-end img {
    width: 100%;
  }
  .margin-right-custom2 {
    margin-right: 0;
  }
  .testi .owl-dots {
    position: absolute;
    right: -57px;
    bottom: -41%;
    background: #e4e4e4;
    padding: 10px 10px 4px 10px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-sec {
    height: 36vh;
  }
  .hero-sec .banner-content .ban-button a {
    padding: 12px 20px;
  }
  .heading {
    padding: 0 22%;
  }
  .testimonials .single-testimonial h6 {
    font-size: 1.2rem;
  }
  .footer-content {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .f-sec .bbg-heading {
    top: -50px;
  }
  .new-plan .bbg-heading {
    top: -6%;
  }
  .hero-sec .banner-content .ban-button {
    right: 3%;
    top: 200px;
  }
  .f-sec .h-text h6 {
    padding: 0 14%;
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 0 20%;
  }
  .f-sec {
    padding: 60px 0;
  }
  .feature a {
    font-size: 1.7rem;
  }
  .testimonials h2,
  .f-sec.new-plan .h-text h6 {
    font-size: 1.2rem;
  }
  jkk-heading-h2 {
    font-size: 1.3rem;
    padding: 1% 20%;
  }
  .rules {
    padding: 0;
  }
  .top_footer {
    padding: 5% 10%;
  }
  .top_footer .links_footer_info ul li a {
    font-size: 15px;
  }
  .footer-sec {
    height: auto;
  }
  .hero-sec .banner-content .ban-button a {
    font-size: 1.3rem;
  }
  .main_related_content_portion.helpline_blog_portions.blog_articles {
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px 40px;
}
}
@media only screen and (max-width: 769px) and (orientation: landscape) {
  .hero-sec {
    height: 100vh;
  }
  .f-sec .bbg-heading {
    top: -85px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-sec {
    height: 29vh;
  }
  .peshkash_text {
    padding: 24px 20px 14px 20px;
    margin: 0;
  }
  .peshkash_text h2 {
    font-size: 1.5rem;
  }
  .jkk_heading,
  .rules_heading {
    top: 50px;
  }
  .heading {
    font-size: 1.1rem;
    padding: 0 11%;
  }
  .feature {
    padding: 0 6%;
  }
  .testimonials img {
    top: -10%;
  }
  .jkk-heading img,
  .f-sec .bbg-heading img {
    width: 70%;
  }
  .margin-right-custom {
    margin-left: -20px;
  }
  .bbkh-img img {
    width: 100%;
  }
  .bbkh-cmnt {
    display: none !important;
  }

}

@media only screen and (max-width: 572px) {
  .hero-sec .banner-content .ban-button {
    top: 130px;
  }
  .service_content_lft_sec h4 {
    font-size: 18px;
    font-family: "Fedra Sans Pro";
    color: #ff428a;
    margin-top: 10px;
    line-height: 26px;
}
  .testimonials .single-testimonial .owl-dots {
    position: absolute;
    bottom: -70px;
    left: 36%;
  }
  .jkk-heading-h2 {
    font-size: 2rem;
  }

  .feature a {
    font-size: 1.3rem;
  }
  .testimonials .single-testimonial h6 {
    font-size: 1rem;
  }
  .f-sec.new-plan .h-text h6 {
    padding: 0 13%;
  }

  .footer-sec {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 6%;
    min-height: auto;
    height: auto;
  }
  .footer-content .footer-button a {
    font-size: 1rem;
    width: 123px;
  }
  .footer-sec h6 {
    padding: 10% 8% 0% 4%;
  }
  .footer-sec h2 {
    font-size: 1.8rem;
  }
  .jkk_heading .peshkash_text h2 {
    transform: rotate(-10deg);
  }
  .margin-right-custom {
    margin-left: 0px;
  }
  .whats-app img {
    width: 50%;
    float: right;
  }
  .bol-behan-testimonials .tst-bck {
    text-align: center;
  }
  bbkh-cmnt {
    display: none !important;
  }
}
@media screen and (max-width: 572px) and (orientation: landscape) {
  .hero-sec {
    height: 100vh;
  }
  .f-sec .bbg-heading {
    top: -85px;
  }
  .hero-sec .banner-content .ban-button {
    top: 155px;
  }
}
@media only screen and (max-width: 480px) {
  .f-sec .bbg-heading {
    top: -50px;
  }

  .f-sec {
    padding: 30px 0;
  }
  .f-sec .item h6 {
    font-size: 1rem;
  }
  .f-sec .item {
    min-height: 75px;
    padding: 20px;
  }
  .single-rule img {
    width: 120px;
  }
  .rules .single-rule h6 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
  }
  .testimonials .single-testimonial .quotaion-left {
    position: absolute;
    top: -5%;
    left: -2%;
  }
  .testimonials .single-testimonial .quotaion-left i {
    color: #8226fa;
    font-size: 50px;
  }
  .testimonials .single-testimonial .quotaion-right i {
    color: #8226fa;
    font-size: 60px;
  }
  .heading {
    font-size: 1rem;
    padding: 0 6%;
  }
  .testimonials h2,
  .f-sec.new-plan .h-text h6 {
    font-size: 1.2rem;
  }
  .testimonials .single-testimonial {
    padding: 30px 60px;
  }
  .btm-banner {
    height: 50vh;
  }
  .bbkh-text .heading,
  .bol-behan-testimonials .heading,
  .gray-tab .heading,
  .sky-tab .heading,
  .blue-txt {
    font-size: 24px !important;
  }
  .bbkh-text h6 {
    font-size: 20px;
  }
  .testi p {
    font-size: 21px;
    padding: 0;
  }
  .testi .owl-dots {
    right: -21%;
  }
  .sk {
    height: 70px;
  }
  .sk .rich-text,
  .gray-tab p,
  .sk .rich-text,
  .gray-tab p {
    font-size: 18px;
  }
  .gray-tab {
    padding: 20px;
  }
  .margin-right-custom2 {
    margin-right: 50px;
  }
  .l-chat,
  .last-sec {
    margin-top: 50px;
  }
  .main_related_content_portion.helpline_blog_portions.blog_articles {
    grid-template-columns: 1fr;
    padding: 0px 20px 40px;
}
}
@media only screen and (max-width: 414px) {
  .hero-sec {
    height: 21vh;
  }
  .new_plan_heading {
    top: -5px;
  }
  .jkk_heading,
  .rules_heading {
    top: 15px;
  }
  .jkk-heading-h2 {
    padding: 1% 15%;
  }
  .hero-sec .banner-content .ban-button {
    top: 100px;
  }
  .hero-sec .banner-content .ban-button a {
    padding: 6px 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 0px 1px #d5ba42;
  }
  .my-4 {
    margin-top: 0.5rem !important;
  }
  .feature a,
  jkk-heading-h2 {
    font-size: 2rem;
  }
  .testimonials img,
  .jkk-heading img,
  .f-sec .bbg-heading img,
  .rules .bbg-rules img {
    width: 60%;
  }
  .jkk-banner .jkk-heading,
  .rules .bbg-rules {
    top: -4%;
  }
  .jkk-banner .single-feature h6 {
    font-size: 1.3rem;
  }
  .rules .single-rule {
    margin-top: 10px;
  }
  .footer-sec h6 {
    padding: 0% 8% 0% 4%;
  }
  .top_footer .links_footer_info h2 {
    font-size: 1.3rem;
  }
  .top_footer .links_footer_info ul {
    gap: 10px;
  }
  .dropdown ul.dropdown-menu.show {
    width: 250px;
    right: 18%;
  }
}
@media only screen and (max-width: 376px) {
  .peshkash_text h2 {
    font-size: 1rem;
  }
  .footer-sec h6 {
    padding: 2% 4% 0% 4%;
  }
  .sk {
    height: auto;
    padding: 20px;
  }
  .d-flex {
    display: block !important;
  }
  .single-feat.d-flex img {
    display: flex;
    margin: auto;
  }
  .sk .rich-text {
    display: flex;
    margin: auto;
  }
  .bbkh-text .heading,
  .bol-behan-testimonials .heading,
  .gray-tab .heading,
  .sky-tab .heading,
  .blue-txt {
    font-size: 20px !important;
  }
  .hands-illu.text-end img,
  .girl-illu img,
  .bob-img.text-end img {
    width: 100%;
  }
  .sky-tab p {
    font-size: 18px;
  }
  .margin-right-custom2 {
    margin-right: 0;
  }
  .testi .owl-dots {
    bottom: -55%;
    right: -36%;
  }
  .bbkh-text {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 322px) {
  .hero-sec {
    height: 25vh;
  }
  .hero-sec .banner-content .ban-button a {
    font-size: 0.6rem;
    padding: 6px 11px;
  }
  .hero-sec .banner-content .ban-button {
    top: 75px;
  }
  .f-sec .bbg-heading {
    top: -60px;
  }
  .f-sec .item h6,
  .f-sec .h-text h6,
  .heading,
  .feature a,
  jkk-heading-h2 {
    font-size: 0.9rem;
  }
  .testimonials .single-testimonial .quotaion-left i,
  .testimonials .single-testimonial .quotaion-right i {
    font-size: 50px;
  }
  .testimonials .single-testimonial .owl-dots {
    bottom: -35%;
  }
  .footer-sec h6 {
    padding: 4% 8% 0% 4%;
    font-size: 1.3rem;
  }
}
