* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-underline-position: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-underline-position: none;
}

/* navbar */
.navbar-light .navbar-brand {
  color: #ffe366;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #ffe366;
  border-bottom: 4px solid #ffe366;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ffe366;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffe366;
  padding: 8px 28px;
  font-size: 36px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffe366;
}

nav {
  height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-bg {
  background-color: #ff428a !important;
  padding: 0 60px !important;
}

/* hero-section */
.hero-sec {
  background-image: url(../images/hero-sec-front.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 87vh;
  position: relative;
}

.hero-sec .banner-content {
  text-align: center;
}

.hero-sec .banner-content .ban-button {
  position: absolute;
  right: 8%;
  top: 48%;
}

.hero-sec .banner-content .ban-button a {
  color: #ff428a;
  background-color: #ffe366;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 36px;
  -webkit-box-shadow: 4px 4px 0px 1px #d5ba42;
          box-shadow: 4px 4px 0px 1px #d5ba42;
  font-weight: 700;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hero-sec .banner-content .ban-button a:hover {
  color: #ffe366;
  background-color: #ff428a;
  -webkit-box-shadow: 4px 4px 0px 1px #d5ba42;
          box-shadow: 4px 4px 0px 1px #d5ba42;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.f-sec {
  padding: 120px 0;
  position: relative;
}

.f-sec .bbg-heading {
  position: absolute;
  top: -6%;
  left: 0;
}

.f-sec .bbg-heading img {
  width: 100%;
  height: auto;
}

.f-sec .h-text h6 {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
}

.f-sec .active {
  background-color: #ff428a;
}

.f-sec .active h6 {
  color: #fff !important;
}

.f-sec .item {
  min-height: 218px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.f-sec .item:hover {
  background-color: #ff428a;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.f-sec .item:hover h6 {
  color: #fff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.f-sec .item h6 {
  text-align: center;
  color: #ff428a;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
}

.heading {
  color: #000;
  font-size: 36px;
  font-weight: 600;
}

.feature {
  margin-bottom: 120px;
}

.feature a {
  color: #ff428a;
  font-size: 60px;
  font-weight: 600;
}

.testimonials {
  position: relative;
  padding: 120px 0;
}

.testimonials img {
  position: absolute;
  left: 0;
  top: -2%;
}

.testimonials h2 {
  font-size: 44px;
  color: #000;
  font-weight: 600;
}

.testimonials .single-testimonial {
  padding: 60px 80px;
  background-color: #d1d1d1;
  position: relative;
  border-radius: 12px;
}

.testimonials .single-testimonial h6 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

.testimonials .single-testimonial .quotaion-left {
  position: absolute;
  top: -7%;
  left: -2%;
}

.testimonials .single-testimonial .quotaion-left i {
  color: #8226fa;
  font-size: 80px;
}

.testimonials .single-testimonial .quotaion-right {
  position: absolute;
  bottom: -7%;
  right: -2%;
}

.testimonials .single-testimonial .quotaion-right i {
  color: #8226fa;
  font-size: 80px;
}

.testimonials .single-testimonial .owl-nav {
  display: none;
}

.testimonials .single-testimonial .owl-dots {
  position: absolute;
  bottom: -42%;
  left: 48%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #8226fa;
}

.jkk-banner {
  background-color: #8226fa;
  padding: 120px 0;
  position: relative;
  margin-top: 50px;
}

.jkk-banner .jkk-heading {
  position: absolute;
  top: -6%;
  left: 0;
}

.jkk-banner .jk-btn {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.jkk-banner .jk-btn a {
  color: #ff428a;
  background-color: #ffe366;
  padding: 12px 28px;
  border-radius: 50px;
  font-size: 36px;
  -webkit-box-shadow: 4px 4px 0px 1px #d5ba42;
          box-shadow: 4px 4px 0px 1px #d5ba42;
  font-weight: 700;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.jkk-banner .jk-btn a:hover {
  color: #ffe366;
  background-color: #ff428a;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.jkk-banner h2 {
  font-size: 44px;
  color: #ffe366;
  font-weight: 600;
}

.jkk-banner .single-feature {
  margin-top: 20px;
  text-align: center;
}

.jkk-banner .single-feature h6 {
  font-size: 36px;
  color: #ffe366;
  font-weight: 700;
  margin-top: 10px;
}

.rules {
  padding: 120px 0;
  position: relative;
}

.rules .bbg-rules {
  position: absolute;
  top: -6%;
  left: 0;
}

.rules .bbg-rules img {
  width: 100%;
}

.rules .single-rule {
  text-align: center;
  margin-top: 40px;
}

.rules .single-rule h6 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}

.btm-banner {
  height: 118vh;
  background-image: url(../images/btm-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-sec {
  background-image: url(../images/ftr-banner.webp);
  min-height: 722px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-sec h6 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  padding-top: 150px;
  padding-left: 150px;
}

.footer-sec h2 {
  font-size: 60px;
  color: #ffe366;
  font-weight: 600;
  padding-left: 150px;
}

.drp {
  width: 366px;
  padding: 28px 36px;
  border-radius: 12px;
  background-color: #ffe366;
  position: absolute;
  z-index: 1;
  right: 12%;
  bottom: -78%;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.drp a {
  font-size: 36px;
  color: #ff428a;
  font-weight: 600;
}

.bbg {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.bbg:hover .drp {
  opacity: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.top_footer {
  background: #FF428A;
  padding: 50px 150px;
}

.top_footer .links_footer_info h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.2px;
  font-family: 'Fedra Sans Pro Book';
  margin-bottom: 20px;
}

.top_footer .links_footer_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  list-style: none;
}

.top_footer .links_footer_info ul li {
  width: 30.333%;
  margin-right: 3%;
}

.top_footer .links_footer_info ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-decoration: none;
}

.top_footer .links_footer_info ul li a img {
  width: 50px;
  margin-right: 15px;
}

.top_footer .links_footer_info ul li a p {
  font-size: 16px;
}

.bottom_footer {
  background: #262626;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom_footer img {
  max-width: 55px;
}

.bottom_footer p {
  font-size: 14px;
  padding-left: 15px;
  color: #fff;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1603px !important;
  }
}
/*# sourceMappingURL=style.css.map */