{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load menu_tags %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}
{% main_menu template='menus/main_menu.html' %}
<div class="blog_detail_slider_data">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="blog-inside">
      {% comment %} <a class="back_data_btn" href="{{ page.get_parent.url }}"><img src="{% static 'images/librate_back_icon.svg' %}" alt="back"></a>
      <div class="owl-carousel owl-theme blog_post_details">
          {% for blog_image in page.specific.gallery_images.all %}
        <div class="item">
          <div class="main_inner_article_banner">
              {% image blog_image.image original as blog_image %}
            <img src="{{blog_image.url}}" alt="article">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div> {% endcomment %}

    <div class="blog_detail_content">
      <div class="blog_share_info">
       
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/blog-page/">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page.slug}}</li>
          </ol>
        </nav>
        <div class="lybrate_share_send_data">
          <a target="_blank" href="javascript:void(0);" data-toggle="modal" data-target="#addTagPopup">
            <img src="{% static 'images/send_icon.svg' %}" alt="share">
            <span>Share</span>
          </a>
        </div>
      </div>
      <div class="blog-inside">
        {{ page.body|richtext }}
      </div>
    </div>
  </div>
  <div class="IframeMainBox-sidebar">
    <a href="/service-finder/"><img src="{% static 'images/left.png' %}" class="arrow-icon"/>
    <p class="IframeMainBox-sidebar-content">Service Finder</p></a>
</div>
</div>
</div>
</div>
    {% comment %} <section class="related_articles blog_detail_articles">
      <div class="related_headings">
        <h3>Related Blogs</h3>
        <a target="_blank" href="{% slugurl 'blog-page' %}">Read All</a>
      </div>
      <div class="main_related_content_portion main_grid_realted_card">
          {% for blog in articles %}
            <div class="related_posts_data">
              <div class="related_images">
                  {% image blog.main_image original as img %}
                  <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><img src="{{img.url}}" alt="articles"></a>
              </div>
              <div class="related_contents blog_detail_related_blog">
                  <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><h3>{{blog.title}}</h3></a>
              </div>
            </div>
          
            {% endfor %}
      </div>
    </section> {% endcomment %}
  

    <section class="related-blogs">
      <div class="container-fluid">
          <div class="row mb-4">
              <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                      <h2>Related Blogs</h2>
                     <span> <a target="_blank" href="{% slugurl 'blog-page' %}">Read All</a></span>
                  </div>  
                  </div>
              </div>
          <div class="row">
            {% for blog in articles %}
              <div class="col-md-4 mt-4">
                  <div class="rl-blg pe-4">
                    {% image blog.main_image original as img %}
                    <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><img src="{{img.url}}" alt="articles"></a>
                   
                     
                    <a target="_blank" href="{% slugurl 'blog-page' %}{{blog.slug}}"><h4>{{blog.title}}</h4></a>  
                  </div>
              </div>

              {% endfor %}
          </div>
      </div>
    </section>
  

<!--POP UP-->
<div class="modal fade" id="addTagPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="icon-container1 d-flex">
                    <div class="smd"> <a target="_blank" href="https://wa.me/?text={{ page.get_site.root_url }}{% pageurl page %}" target="_blank"><i class="img-thumbnail fa fa-whatsapp fa-2x" style="color: #25D366;background-color: #cef5dc;"></i></a>
                    </div>
                    <div class="smd"> <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.get_site.root_url }}{% pageurl page %}" target="_blank"><i class="img-thumbnail fa fa-facebook fa-2x" style="color: #3b5998;background-color: #eceff5;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
      $(document).ready(function() {
        $('.blog_post_details').owlCarousel({
          loop: true,
          margin: 0,
          autoplay: true,
          responsiveClass: true,
          items: 1,
          nav: true,
        });

        $('.heart_value').on('click',function () {
           if($(this).hasClass('fa-heart-o'))
           {
              $(this).addClass('fa-heart');
              $(this).removeClass('fa-heart-o');
           }else
           {
              $(this).addClass('fa-heart-o');
              $(this).removeClass('fa-heart');
           }
        });

      })
    </script>
{% endblock extra_js %}