{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block body_class %}template-bolbehanpage{% endblock %}

{% block content %}
{% main_menu template='menus/main_menu.html' sub_menu_template="menus/sub_menu.html" %}

<section class="sahi-salah-hero-sec">
    {% image page.header_image original format-webp as header_image %}
        <img src="{{header_image.url}}" alt="sahi-salah-banner" />
        <div class="notif_what salah-btn">
            <a href="#">Notify on WhatsApp</a>
        </div>
     </section>

     <section class="upcoming_events">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <p>{{page.body|richtext}}
                    </p>
                    <h2 class="mt-5">Upcoming Events</h2>
                </div>
            </div>
            <div class="row">
                {% for event in upcoming_event %}
                <div class="col-md-4">
                    <div class="salah_event se_one">
                        {% image event.header_image original format-webp as header_image_upcoming_event %}
                        <img src="{{header_image_upcoming_event.url}}" alt="event-images" />
                        <h6 class="px-4 pt-4">{{event.event_title}}</h6>
                        <div class="d-flex justify-content-start mx-4 pb-4">
                            <span class="event_tag me-2">{{event.timing_date}} | {{event.timing_time}}</span>
                            <span class="event_tag me-2">{{event.price_body}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center mt-5 pt-3">
                <div class="salah-btn text-center">
                    <a href="#">Load more events</a>
                </div>
            </div>
        </div>
     </section>

     <section class="salah-use">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>{{page.section_1}}</h6>
                </div>                
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-4 text-center">
                    {% image page.card_1_image original format-webp as card_1_image %}
                    <img src="{{card_1_image.url}}" alt="use-one" >
                    <p>{{page.card_1}}</p>
                </div>
                <div class="col-md-4 col-4 text-center">
                    {% image page.card_2_image original format-webp as card_2_image %}
                    <img src="{{card_2_image.url}}" alt="use-one" >
                    <p>{{page.card_2}}</p>
                </div>
                <div class="col-md-4 col-4 text-center">
                    {% image page.card_3_image original format-webp as card_3_image %}
                    <img src="{{card_3_image.url}}" alt="use-one" >
                    <p>{{page.card_3}}</p>
                </div>
                
            </div>
        </div>
     </section>

     <section class="past-event">
        <div class="container">
            <h6 class="mb-4">Past Events</h6>
            <div class="row">
                {% for event in past_event %}
                <div class="col-md-4 col-6">
                    <div class="past-event-card se_one">
                        {% image event.header_image original format-webp as header_image_past_event %}
                        <img src="{{header_image_past_event.url}}" alt="past-event" />
                        <p class="p-4 mb-0">{{event.event_title}}</p>
                    </div>
                </div>
                {% endfor %}
                    <div class="past-event-card se_three">
                        <img src="images/event_one.png" alt="past-event" />
                        <p class="p-4 mb-0">Impact of COVID on Mental Health</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5 pt-3">
                <div class="salah-btn text-center">
                    <a href="#">Show more past events</a>
                </div>
            </div>
        </div>
     </section>


{% if page.content %}
                            {% for card in page.content %}
                            {% if card.block_type == "testimonial" %}
     <section class="testimonial">
        <div class="container">
            <div class="testimonial-inner">
                <img src="{% static 'images/testimonial1.png' %}" alt="testimonial" />
                <div class="testimonial-content">
                    <h6 class="mb-3">Testimonials</h6>
                    <div class="owl-carousel owl-theme">
                        {% include_block card %}
                    </div>
                </div>
            </div>
        </div>
        </div>
     </section>
                {% endif %}
                            {% endfor %}
     {% endif %}

{% if page.content %}
                            {% for card in page.content %}
                            {% if card.block_type == "faqcard" %}
<section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6>FAQs</h6>
                    <div class="accordion mt-4" id="accordionExample">


                                {% include_block card %}
                                          
                      </div>
                </div>
            </div>
        </div>
     </section>
                   
                            {% endif %}
                            {% endfor %}
     {% endif %}
{% endblock %}
{% block footer %}
     <footer class="text-center">
        <div class="container">
            <div class="row justify-content-center">
                <h6>For Media Partnerships & Others Queries, Contact Us</h6>
                <img class="footer-mail mt-4" src="../images/mail.png" alt="mail" />
                <p class="mt-3">contact@chhaajaa.com</p>
            </div>
        </div>
     </footer>
     <div class="copyright text-center">
        <p>Sahi Salah Terms & Conditions</p>
     </div>
{% endblock %}