{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block body_class %}template-bolbehanpage{% endblock %}

{% block content %}
{% main_menu template='menus/main_menu.html' sub_menu_template="menus/sub_menu.html" %}

<!-- {% if page.whatsapp_link and page.btn_name  %}
<section class="sahi-salah-hero-sec">
    {% image page.header_image original format-webp as header_image %}
    <img src="{{header_image.url}}" alt="sahi-salah-banner" />
    <div class="notif_what salah-btn">
        <a href="{{page.whatsapp_link}}">{{page.btn_name|default:"Notify on WhatsApp"}}</a>
    </div>
</section>
{% endif %} -->
{% image page.header_image original format-webp as header_image %}
<section class="sahi-salah-hero-sec" style="background-image: url({{header_image.url}})">
    {% if page.whatsapp_link and page.btn_name %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <div class="ban-button">
                        <a href="{{page.whatsapp_link}}">{{page.btn_name|default:"Notify on WhatsApp"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
<section class="upcoming_events">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <p>{{page.body|richtext}}
                </p>
                <h2 class="mt-5">Upcoming Events</h2>
            </div>

        </div>
        <div class="row up_coming">
            {% for event in upcoming_event %}
            <div class="col-lg-4 col-md-6 col-sm-12  sahi-list">
                <div class="salah_event se_one">
                    {% image event.header_image original format-webp as header_image_upcoming_event %}
                    <img src="{{header_image_upcoming_event.url}}" alt="event-images" />
                    <a href="{% slugurl 'sahi-salah' %}{{event.slug}}">
                        <h6 class="px-4 pt-4">{{event.event_title}}</h6>
                    </a>
                    <div class="d-flex justify-content-start mx-4 pb-4 mt-4">
                        <span class="event_tag me-2">{{event.timing_date}} | {{event.timing_time}}</span>
                        <span class="event_tag me-2">{{event.price_body}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="salah-use">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>{{page.section_1}}</h6>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 text-center">
                {% image page.card_1_image original format-webp as card_1_image %}
                <img src="{{card_1_image.url}}" alt="use-one">
                <p>{{page.card_1}}</p>
            </div>
            <div class="col-md-4 text-center">
                {% image page.card_2_image original format-webp as card_2_image %}
                <img src="{{card_2_image.url}}" alt="use-one">
                <p>{{page.card_2}}</p>
            </div>
            <div class="col-md-4 text-center">
                {% image page.card_3_image original format-webp as card_3_image %}
                <img src="{{card_3_image.url}}" alt="use-one">
                <p>{{page.card_3}}</p>
            </div>

        </div>
    </div>
</section>
{% if past_event %}
<section class="past-event">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h6 class="mb-4">Past Events</h6>
            </div>
        </div>
        <div class="row">
            {% for event in past_event %}
            <div class="col-lg-4 col-md-6 col-sm-12  past-list" style="display:none;">
                <div class="past-event-card se_one">
                    {% image event.header_image original format-webp as header_image_past_event %}
                    <img src="{{header_image_past_event.url}}" alt="past-event" />
                    <a href="{% slugurl 'sahi-salah' %}{{event.slug}}">
                        <p class="p-4 mb-0">{{event.event_title}}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="past-event-card se_three">
                <img src="images/event_one.png" alt="past-event" />
                <p class="p-4 mb-0">Impact of COVID on Mental Health</p>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="row justify-content-center mt-5 pt-3" id="">
        <div class="salah-btn text-center">
            <a href="{{page.yt_channel}}">Show more past events</a>
        </div>
    </div>
    </div>
</section>
{% endif %}

{% if page.testimonials %}
<section class="testimonial">
    <div class="container">
        <div class="testimonial-inner" style="background-image: url('/static/images/testimonial1.png')">
            <!-- <img src="{% static 'images/testimonial1.png' %}" alt="testimonial" /> -->
            <div class="testimonial-content">
                <h6 class="mb-3">Testimonials</h6>
                <img src="{% static 'images/Vector.png' %}" alt="reviews" class="testimonial_vector" />
                <div class="owl-carousel owl-theme">
                    {% for ts in page.testimonials %}

                    {% include_block ts %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endif %}

{% if page.faqs %}


<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>FAQs</h6>
                <div class="accordion sahi-salah-faq" id="faq">
                    {% for card in page.faqs %}
                    {% include_block card %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}


{% endblock %}
{% block footer %}
<footer class="text-center footer-sahi">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h6>For Media Partnerships & Others Queries, Contact Us</h6>
                <a href="mailto:contact@chhaajaa.com" rel=noopener noreferrer””> <img class="footer-mail mt-3"
                        src="{% static 'images/mail.png' %}" alt="mail" />
                    <p class="mt-3">contact@chhaajaa.com</p>
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="copyright text-center">
    <a href="{% slugurl 'terms-and-condition' %}">
        <p>Sahi Salah Terms & Conditions</p>
    </a>
</div>
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            item: 1,
            singleItem: true,
            smartSpeed: 1500,
            slideSpeed: 20,
            loop: true,
            margin: 400,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
    });
    jQuery(document).ready(function () {

        var $this = $('.up_coming');
        if ($('.up_coming .sahi-list').length > 3) {
            $('.up_coming').append('<div class="row button_show_hide"><div class="salah-btn text-center"><a href="javascript:;" class="showMore"></a></div></div>');
        }

        // If more than 2 Education up_coming, hide the remaining
        $('.up_coming .sahi-list').slice(0, 3).addClass('shown');
        $('.up_coming .sahi-list').not('.shown').hide();
        $('.up_coming .showMore').on('click', function () {

            $('.up_coming .sahi-list').not('.shown').toggle(300);
            $(this).toggleClass('showLess');
        });

    });

    if ($(window).width() < 991) {
        $(".past-list").slice(0, 2).show();
        if ($(".past-list").length <= 2) {
            $("#MoreList").hide();
        }
    }
    else {
        $(".past-list").slice(0, 3).show();
        if ($(".past-list").length <= 3) {
            $("#MoreList").hide();
        }
    }

    $("#MoreList").click(function (e) {
        e.preventDefault();
        $(".past-list:hidden").slice(0, 3).fadeIn("slow");
        if ($(".past-list:hidden").length == 0) {
            1
            $("#MoreList").hide();
        }
    });



</script>
{% endblock extra_js %}
{% endblock %}
