{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load menu_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block body_class %}template-bolbehanpage{% endblock %}

{% block content %}
{% main_menu template='menus/main_menu.html' sub_menu_template="menus/sub_menu.html" %}


{% if  page.background_header_image %}
{% image page.background_header_image original format-webp as background_header_image %}
{% endif %}
<section class="bb-header" style="background-image:url('{{background_header_image.url}}')">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                {% if page.header_title %}
                    <h1 class="oversized">{{page.header_title}}</h1>
                {% endif %}
                {% if page.header_subtitle %}
                <div class="richtext">
                    {{ page.header_subtitle|richtext }}
                </div>
                {% endif %}
                <div class="social-media">

                    <a {% if page.whatsapp_url %} target="_blank" onclick="gtag_report_conversion('{{page.whatsapp_url}}')" {% endif %}>
                        {% if page.whatsapp_icon %}
                            {% image page.whatsapp_icon original format-webp as whatsapp_icon %}
                            <img src="{{whatsapp_icon.url}}" alt="whats-app-icon">
                        {% endif %}
                        {% if page.whatsapp_text %}
                            {{page.whatsapp_text}}
                        {% endif %}
                    </a>
                    <a {% if page.messenger_url %} target="_blank" onclick="gtag_report_conversion('{{page.messenger_url}}')" {% endif %}>
                        {% if page.messenger_icon %}
                            {% image page.messenger_icon original format-webp as whatsapp_icon %}
                            <img src="{{whatsapp_icon.url}}" alt="whats-app-icon">
                        {% endif %}
                        {% if page.messenger_text %}
                            {{page.messenger_text}}
                        {% endif %}
                    </a>
                </div>

            </div>
            {% if page.header_image %}
                {% image page.header_image original format-webp as header_image %}
                <div class="col-md-7">
                    <img src="{{header_image.url}}" alt="">
                </div>
            {% endif %}
        </div>
    </div>

</section>


<section class="bb-kya-hai">
    {% image page.section_1_main_img_1 original format-webp as section_1_main_img_1 %}
    <img class="bbkh-cmnt" src="{{section_1_main_img_1.url}}" alt="cmnt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="bbkh-img">
                    {% image page.section_1_main_img_2 original format-webp as section_1_main_img_2 %}
                    <img src="{{section_1_main_img_2.url}}" alt="phone-illustration">
                </div>
            </div>
            <div class="col-md-6">
                <div class="bbkh-text">
                    <h1 class="heading">{{page.section_1}}</h1>
                    {{page.section_1_title_1|richtext}}
                    <p> {{page.section_1_sub_title_1}}</p>
                </div>
            </div>
        </div>
    </div>

</section>

{% comment %}
<section class="second-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-end">
                <div class="fixed-whats-app" id="fixed-whats-app">
                    <a target="_blank" onclick="gtag_report_conversion('https://wa.me/{{page.whatsapp_text}}')">
                        <div class="wht-text">
                            <div class="talk-bubble tri-right btm-right">
                                <div class="talktext">
                                    <p>Chat Karo!</p>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'images/whatsapp-logo.webp' %}" alt="whats-app-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}


<section class="bol-behan-testimonials">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-5">
                <div class="bob-img text-end">
                    {% image page.section_2_main_img_1 original format-webp as section_2_main_img_1 %}
                    <img src="{{section_2_main_img_1.url}}" alt="bobe">
                </div>
            </div>
            <div class="col-md-7 text-end">
                <div class="gray-sec">
                    <h2 class="heading tst-bck">{{page.section_2}}</h2>
                </div>
                <div class="testi text-center">
                    <div class="owl-carousel owl-theme" id="my-slider">
                        {% for testimonial in page.section_2_card %}
                        {% include_block testimonial %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="sky-blue-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                {% for section_3_card_item in page.section_3_card %}
                {% include_block section_3_card_item %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<section class="chat-sec">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-5 col-sm-12">
                <div class="hands-illu text-end">
                    {% image page.section_4_main_img_1 original format-webp as section_4_main_img_1 %}
                    <img src="{{section_4_main_img_1.url}}" alt="hands">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="gray-tab text-center">
                    <h3 class="heading">{{page.section_4}}</h3>
                </div>

                <div class="gray-tab emoji-icon text-center">
                    {{page.section_4_description|richtext}}
                </div>

                {% for section_4_card_item in page.section_4_card %}
                {% include_block section_4_card_item %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>



<section class="l-chat">
    <div class="container">
        <div class="row d-none d-lg-flex d-xl-flex d-md-flex">
            <div class="col-md-7">
                <div class="sky-tab text-center margin-right-custom2">
                    <h3 class="heading">{{page.section_5}}</h3>
                </div>

                <div class="sky-tab text-center">
                    {{page.section_5_description|richtext}}
                </div>
            </div>

            <div class="col-md-5">
                <div class="girl-illu">
                    {% image page.section_5_main_img_1 original format-webp as section_5_main_img_1 %}
                    <img src="{{section_5_main_img_1.url}}" alt="girl-illustraion">
                </div>
            </div>
        </div>
        <div class="row d-flex d-sm-block d-md-none">


            <div class="col-md-5">
                <div class="girl-illu">
                    {% image page.section_5_main_img_1 original format-webp as section_5_main_img_1 %}
                    <img src="{{section_5_main_img_1.url}}" alt="girl-illustraion">
                </div>
            </div>
            <div class="col-md-7">
                <div class="sky-tab text-center margin-right-custom2">
                    <h4 class="heading">{{page.section_5}}</h4>
                </div>

                <div class="sky-tab text-center">
                    {{page.section_5_description|richtext}}
                </div>
            </div>
        </div>
    </div>

</section>


<section class="last-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% for section_footer_item in page.section_footer %}
                {% include_block section_footer_item %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% if page.faqcard %}
<div class="about_us_sec" style="display:block">
    <div class="are_dekho_heading">
        <div class="inner_are_dekho_text">
            <h2>FAQs</h2>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="accordion" id="faq">

                {% for card in page.faqcard %}
                {% include_block card %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endif %}
{% block extra_js %}
<script type="text/javascript">
    var owl = $('#my-slider');
    owl.owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            960: {
                items: 1
            },
            1200: {
                items: 1
            }
        },
        slideSpeed: 3000,
        autoplay: true,
        autoplaySpeed: 2000,
    });
    owl.on('mousewheel', '.owl-stage', function (e) {
        if (e.deltaY > 0) {
            owl.trigger('next.owl');
        } else {
            owl.trigger('prev.owl');
        }
        e.preventDefault();
    });
</script>

<script>
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("fixed-whats-app");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
{% endblock extra_js %}
{% endblock %}